{% extends 'base.html' %}
{% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='search.css')}}">

<!-- Background -->
  <div id="bg">
    <img src="{{url_for('static', filename='images/pile.jpg')}}">
  </div>

  <!-- Navbar -->

<nav class="navbar navbar-right navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header" id="nav-elements">
			<a id="navbar-icon" class="navbar-brand" href="{{url_for('search')}}">
				<img class="icon" src="{{url_for('static', filename='images/icon.png')}}">
			</a>
			<button type="button" class="login-button" class="btn" data-toggle="modal" data-target=".bs-example-modal-lg">Log In</button>
		</div>
	</div>
</nav>

  <!-- content -->

  <h1 id="title">We couldn't find anything for "{{no_results}}"</h1>

	<div id="description-box">
  		<h3 id="description">Check your spelling or try searching for something else</h3>
	</div>


		<!-- <div id="search-box"></div> -->

			<div class="bardiv form-group">
				<form action="{{url_for('results')}}" method="GET" class="form-wrapper cf">
					<input type="text" name="search-food" placeholder="Enter a food" required>
					<button type="submit">search</button>
				</form>
			</div>

{% endblock %}